<div class="row">
  <div class="sidebar col-md-4">
    <div class="sidebar-module">
      <h3><%= t 'categories' %></h3>

      <ul>
        <li><%= link_to t('category.all'), photo_albums_path, remote: true %></li>

        <%= render @categories %>
      </ul>
    </div>
  </div>

  <div class="photo-album-container col-md-8">
    <%= render partial: 'photo_albums/covers' %>
  </div>
</div>
