<div class="row">
  <div class="sidebar col-md-4">
    <div class="sidebar-module categories">
      <h3><%= t 'categories' %></h3>

      <ul>
        <li><%= link_to t('category.all'), photo_albums_path, remote: true,
                class: "category#{params[:category_id] ? '' : ' active-category'}",
                data: { 'history-href' => gallery_path } %></li>

        <%= render @categories %>
      </ul>
    </div>
  </div>

  <div class="photo-album-container col-md-8">
    <%= render partial: 'photo_albums/covers' %>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $(document).on('click', 'a.category', function (e) {
      var $this = $(this);

      if (!$this.hasClass('active-category')) {
        $('a.active-category').removeClass('active-category');
        $this.addClass('active-category');

        history.pushState(null, '', $this.data('history-href'));
      }
    });
  });
</script>
