<div class="row">
  <div class="sidebar col-md-4">
    <div class="sidebar-module categories">
      <h3><%= t 'categories' %></h3>

      <ul>
        <li><%= link_to t('category.all'), gallery_path,
                class: "category#{params[:category_id] ? '' : ' active-category'}" %></li>

        <%= render @categories %>
      </ul>
    </div>
  </div>

  <div class="photo-album-container col-md-8">
    <%= render partial: 'photo_albums/covers' %>
  </div>
</div>
