<div id="photo-lightbox" class="lightbox fade" tabindex="-1" role="dialog"
     area-hidden="true">
  <div class="lightbox-dialog">
  	<div class="lightbox-content">
  		<%= image_tag photo.photo_file_url %>
  	</div>
  </div>
</div>
