// Place all the styles related to the admin/dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dashboard-body {
  padding-top: 50px;
}

.navbar-fixed-top {
  border: 0;
}

#dashboard_sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

#dashboard_main {
  padding-bottom: 20px;
}

.dashboard-nav-sidebar {
  margin-right: -21px;
  margin-bottom: 20px;
  margin-left: -20px;
}

.dashboard-nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.dashboard-nav-sidebar > .active > a,
.dashboard-nav-sidebar > .active > a:hover,
.dashboard-nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.alert.dashboard-alert {
  margin-top: 20px;
  margin-bottom: 0;
}

.dashboard-table-header {
  padding-top: 20px;
  padding-bottom: 10px;

  h2 {
    margin: 0;
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;

    li {
      float: left;
      position: relative;
      display: block;

      a {
        position: relative;
        display: block;
      }
    }

    li+li {
      margin-left: 2px;
    }
  }
}

.table.dashboard-table {
  margin-bottom: 10px;

  td {
    cursor: pointer;
  }
}

div.pagination {
  margin: 0;

  ul.pagination {
    margin: 0;
  }
}
