$(".slides > .slide[data-photo-id='<%= @photo.id %>'] .modal-content")
    .append('<ul class="comments">' +
            '<h4><%= t "photos.comments" %></h4>' +
            '<%= escape_javascript(render @photo.comments) %>' +
            '</ul>');
