/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'colors';
@import 'fonts';

@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700,600&subset=cyrillic,latin');

html, body {
  height: 100%;
}

.application-body {
  background: image_url('symphony.png');

  .alert {
    border-radius: initial;
  }
}

.valign-container {
  height: 100%;
  margin: 0 auto;
}

.valign-container:before, .valign-middle {
  display: inline-block;
  vertical-align: middle;
}

.valign-container:before {
  width: 0;
  height: 100%;
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-left: -0.25em;
}

.valign-middle {
  height: auto !important;
}

.tiled-row {
  margin: 0;
}

.tiled-column {
  padding: 0;
}

.tiled-container {
  padding: 20px;

  h3 {
    margin: 0;
  }
}

.row .row-full-height {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  .col-align-center {
    text-align: center;
    vertical-align: middle;
  }
}

@media (min-width: 992px) {
  .row-full-height .col-md-full-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
}

/* Page wrapper */

.page-wrapper {
  min-height: 100%;
  margin-bottom: -78px;
}

.page-wrapper:after {
  content: "";
  display: block;
}

/* Header */

.header {
  padding: 20px 0 10px 0;
}

/* Main menu */

.main-menu {
  padding: 5px 0 5px 0;
}

.main-menu > li > a {
  color: inherit;
  font: bold 14px/18px $primary_font;
  text-transform: uppercase;
  padding: 0;
  margin: 10px 15px;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -o-transition: color 0.3s;
  transition: color 0.3s;
}

.main-menu > li > a:hover, .main-menu > li > a:focus {
  background-color: inherit;
}

.main-menu > li.active > a, .main-menu > li.active > a:hover, .main-menu > li.active > a:focus {
  color: $secondary_color;
  background-color: inherit;
}

.main-menu > li > a:hover {
  color: $secondary_color;
}

/* Footer */

.page-wrapper:after, .footer {
  height: 78px;
}

.footer, .footer a {
  color: #fff;
}

.footer p {
  margin: 0;
}

.footer div {
  height: 100%;
}

.footer-content {
  background-color: #087070;
}

.copyright {
  float: left;
  width: 70%;
  padding-left: 20px;
}

.locale {
  float: left;
  width: 30%;
  text-align: right;
  padding-right: 20px;
}

/* Sidebar */

.sidebar-module {
  background-color: #fff;
  margin-bottom: 10px;
  padding: 20px;
}

.sidebar-module > h3 {
  margin: -20px -20px 20px -20px;
  padding: 20px;
  background-color: $primary_color_light;
  color: #fff;
  font: normal 18px/22px $primary_font;
  text-transform: uppercase;
}

.sidebar-module > ul {
  margin: 0;
  padding: 0;
}

.sidebar-module > ul > li {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.sidebar-module > ul > li:last-child {
  margin-bottom: 0;
}

.sidebar-module > ul > li:before {
  color: $primary_color_light;
  padding-right: 10px;
  @extend .glyphicon;
  @extend .glyphicon-chevron-right;
}

.sidebar-module > ul > li > a {
  color: inherit;
  text-decoration: none;
}

.categories > ul > li > a.active-category {
  color: $primary_color_light;
}

.field_with_errors {
  @extend .has-error;
}
