/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import 'bootstrap';
@import 'colors';

@import url('//fonts.googleapis.com/css?family=Great+Vibes');
@import url('//fonts.googleapis.com/css?family=Roboto:100,300,300italic&subset=latin,cyrillic');

html, body {
  height: 100%;
}

.application-body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;

  .alert {
    border-radius: initial;
  }
}

.no-padding {
  padding: 0 !important;
}

.no-margins {
  margin: 0 !important;
}

.row-lg-heading {
  padding-top: 80px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.row-lg-content {
  padding-top: 20px;
  padding-bottom: 80px;
}

.row-lg-heading, .row-lg-content {
  background-color: #fff;
}

.valign-container {
  height: 100%;
  margin: 0 auto;
}

.valign-container:before, .valign-middle {
  display: inline-block;
  vertical-align: middle;
}

.valign-container:before {
  width: 0;
  height: 100%;
  display: inline-block;
  content: "";
  vertical-align: middle;
  margin-left: -0.25em;
}

.valign-middle {
  height: auto !important;
}

/* Page wrapper */

.page-wrapper {
  min-height: 100%;
  margin-bottom: -200px;
}

.page-wrapper:after {
  content: "";
  display: block;
}

/* Header */

.header {
  padding: 20px 0;
  background-color: #fff;

  .logo {
     a {
      font-family: 'Great Vibes';
      text-decoration: none;
      font-size: 40px;
      color: #333;
      outline: none;
    }
  }
}

/* Main menu */

.main-menu {
  padding: 5px 0 5px 0;
}

.main-menu {
  li {
    border: 2px solid transparent;
    -webkit-transition: border 0.3s;
       -moz-transition: border 0.3s;
         -o-transition: border 0.3s;
            transition: border 0.3s;

    a {
      color: inherit;
      font-size: 15px;
      text-transform: uppercase;
      padding: 0;
      margin: 10px 15px;
      -webkit-transition: color 0.3s;
         -moz-transition: color 0.3s;
           -o-transition: color 0.3s;
              transition: color 0.3s;
    }

    a:hover, a:focus {
      background-color: inherit;
    }

    a:hover {
      color: $primary_color_light;
    }
  }

  li.active, li:hover {
    border: 2px solid $primary_color_light;

    a, a:hover, a:focus {
      color: $primary_color_light;
      background-color: inherit;
    }
  }
}

/* Footer */

.page-wrapper:after, .footer {
  height: 200px;
}

.footer {
  color: #fff;
  font-size: 15px;

  a {
    color: #fff;
  }

  p {
    margin: 0;
  }

  .container-fluid {
    height: 100%;
    background-color: $theme_dark;

    .row {
      padding: 79px 0;
    }
  }
}

/* Sidebar */

.sidebar {
  margin-bottom: 30px;

  .sidebar-module {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
  }

  .sidebar-module > h3 {
    margin: -20px -20px 20px -20px;
    padding: 20px;
    background-color: $primary_color_light;
    color: #fff;
    font: normal 18px/22px 'Roboto', sans-serif;
    text-transform: uppercase;
  }

  .sidebar-module > ul {
    margin: 0;
    padding: 0;
  }

  .sidebar-module > ul > li {
    list-style-type: none;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .sidebar-module > ul > li:last-child {
    margin-bottom: 0;
  }

  .sidebar-module > ul > li:before {
    color: $primary_color_light;
    padding-right: 10px;
    @extend .glyphicon;
    @extend .glyphicon-chevron-right;
  }

  .sidebar-module > ul > li > a {
    color: inherit;
    text-decoration: none;
  }
}

.categories > ul > li > a.active-category {
  color: $primary_color_light;
}

.field_with_errors {
  @extend .has-error;
}
