/* Carousel */

// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// This is the visible area of you carousel.
// Set a width here to define how much items are visible.
// The width can be either fixed in px or flexible in %.
// Position must be relative!
.jcarousel {
  position: relative;
  overflow: hidden;
}

// This is the container of the carousel items.
// You must ensure that the position is relative or absolute and
// that the width is big enough to contain all items.
.jcarousel ul {
  width: 20000em;
  position: relative;

  /* Optional, required in this case since it's a <ul> element */
  list-style: none;
  margin: 0;
  padding: 0;
}

// These are the item elements. jCarousel works best, if the items
// have a fixed width and height (but it's not required).
.jcarousel li {
  /* Required only for block elements like <li>'s */
  float: left;
}

.carousel-row {
  background-color: #84ccc1;
}

/* Greeting */

.greeting-container {
  text-align: center;
  padding-bottom: 20px;
}

.greeting {
  color: #ffffff;
  font-family: Open Sans, sans-serif;
}

/* About */

.about-row {
  background-color: #fff;
}

.avatar-container {
  padding: 20px;
  text-align: center;
}

.about-container {
  padding: 20px;
}

.about-container > h3 {
  margin-top: 0;
}

.about-container > p {
  margin-bottom: 0;
}
