<div class="footer">
  <div class="container-fluid no-padding text-center">
    <div class="row no-margins">
      <div class="col-md-12 no-padding">
        <div><p><%= t 'brand' %> &#169; <%= Time.now.year %></p></div>

        <div>
          <p>
            <%= link_to 'RU', url_for(locale: 'ru'), class: 'locale-ru' %>
            <span>|</span>
            <%= link_to 'EN', url_for(locale: 'en'), class: 'locale-en' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
