<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('brand'), root_path, class: 'navbar-brand' %>
    </div>
  </div>
</nav>
